@use '@/styles/variables' as *;

.modal_overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 15, 25, 0.6);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: $card-bg;
  border-radius: 14px;
  corner-shape: squircle;
  padding: 20px;
  border: 1px solid $border;
  margin-inline: 10px;

  &_title {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin: 0 0 10px;
    color: $main-text;
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &_field {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &_input {
    outline: none;
    border: 1px solid $border;
    height: 30px;
    border-radius: 14px;
    corner-shape: squircle;

    &::placeholder {
      color: $placeholder;
      font-weight: 500;
    }

    &:focus {
      border: 1px solid $hover;
    }
  }

  &_btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
  }

  &_err {
    margin: 0;
    font-size: 13px;
    color: $error-text;
    font-weight: 400;
    height: 20px;
  }
}